<!DOCTYPE html>
<html data-flash-unified-enable-network-errors="true">
  <head>
    <title>FlashUnified Test (wrapper layout)</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="modulepreload" href="<%= asset_path('flash_unified/all.bundle.js') %>">
    <script type="importmap">
    {
      "imports": {
        "flash_unified/all": "<%= asset_path('flash_unified/all.bundle.js') %>"
      }
    }
    </script>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "turbo", type: "module" %>
    <script type="module">
      import "flash_unified/all";
    </script>
  </head>
  <body>
  <%= flash_unified_sources(container: true) %>

    <%= yield %>
  </body>
  </html>
