<!DOCTYPE html>
<html data-flash-unified-auto-init="false" data-flash-unified-container-primary-only="true">
  <head>
    <title>FlashUnified Container Selection (Primary)</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="modulepreload" href="<%= asset_path('flash_unified/all.bundle.js') %>">
    <script type="importmap">
    {
      "imports": {
        "flash_unified/all": "<%= asset_path('flash_unified/all.bundle.js') %>"
      }
    }
    </script>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "turbo", type: "module" %>
    <script type="module">
      import { installInitialRenderListener } from "flash_unified/all";
      installInitialRenderListener();
    </script>
  </head>
  <body>
    <%= flash_unified_sources(storage: false) %>
    <%= yield %>
    <%= flash_container %>
  </body>
</html>
