<!DOCTYPE html>
<html data-flash-unified-auto-init="false">
  <head>
    <title>FlashUnified Auto Off</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="modulepreload" href="<%= asset_path('flash_unified/all.bundle.js') %>">
    <script type="importmap">
    {
      "imports": {
        "flash_unified/all": "<%= asset_path('flash_unified/all.bundle.js') %>"
      }
    }
    </script>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "turbo", type: "module" %>
    <script type="module">
      // Note: no auto.js import here to prove opt-out works
      import { renderFlashMessages } from "flash_unified/all";
      // Expose manual render hook for tests
      window.__manualRenderFlash__ = () => renderFlashMessages();
    </script>
  </head>
  <body>
    <%= flash_unified_sources(container: true, storage: false) %>

    <%= yield %>
  </body>
  </html>
